@use './scss/heading-style.scss';
@use './scss/navigation-bar-style.scss';
@use './scss/header-style.scss';
@use './scss/clients-style.scss';
@use './scss/services-style.scss';
@use './scss/project-style.scss';
@use './scss/dilation-and-evaluation.scss';
@use './scss/let-start-style.scss';
@use './scss/footer-style.scss';

#app {
    overflow: hidden;
    position: relative;
}

#to-top {
    position: fixed;
    bottom: 10vh;
    right: 3%;
    z-index: 15;
    color: #FFD723;
    font-size: 3.5rem;
    border-radius: 50%;
    opacity: 0;
    &:hover {
        cursor: pointer;
        color: #ff8623;
        box-shadow: 5px 5px 15px #ff86234d, -5px 0 10px rgb(255, 134, 35, 0.3);
        transition: 0.5s ease 0.2s;
    }
    &.is-scrolled {
        animation: display-to-top-btn 0.8s ease 0.2s forwards;
    }
}

.author-box {
    display: grid;
    grid-template-columns: 20% 70%;
    align-content: center;
    img {
        border-radius: 100%;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1), 20px 20px 40px rgba(0, 0, 0, 0.2);
    }
    div {
        margin-left: 15%;
    }
    p {
        color: #4D533C;
    }
    .small-paragraph {
        color: #152934;
        margin-top: -15px;
    }
}
.small-paragraph {
    font-size: 0.875rem;
    color: #4D533C;
}
.paragraph-link {
    color: #FFD723;
    i {
        margin-right: 1%;
    }
}
.paragraph-link:hover {
    cursor: pointer;
    color: #ff8623;
    transform: translate(10px, -3px);
    transition: transform 0.5s ease 0.1s;
}
.grey-text {
    color: #213842;
    opacity: 0.6;
}

@media screen and (max-width: 1205px) {
    html {
        font-size: 12px;
    }
    body {
        min-width: 650px;
    }
    #header {
        width: 80%;
        top: 2%;
        h1 {
            margin: 1% 0 1% 0;
        }
        .paragraph-link {
            margin: 0;
        }
    }
    #CEO-comment {
        img {
            width: 46px;
            height: auto;
        }
    }
}


@keyframes display-to-top-btn {
    from {
        opacity: 0;
        transform: scale(0, 0);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}