#let-start {
    width: 88.5%;
    background-color: #FAFAFA;
    padding: 4.8% 0;
    position: relative;
    bottom: -22vh;
    z-index: 1;
    h1 {
        width: 70%;
        margin: 0 auto 2% auto;
        font-weight: 400;
        color: #4D533C;
        font-size: 3rem;
    }
    .paragraph-link {
        width: 70%;
        margin: auto;
        font-weight: bolder;
    }
}